<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FireDetector</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	   <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-7"><br>
            <div class="card">
                <div class="card-body">
                    <canvas id="gas"></canvas>
                </div>
            </div>
			<div class="card">
                <div class="card-body">
                    <canvas id="co2"></canvas>
                </div>
            </div>
			<div class="card">
                <div class="card-body">
                    <canvas id="smoke"></canvas>
                </div>
            </div>
        </div>
		
		<div class="col-md-3"><br>
		
		<div class="row content content-temp vertical-align">
			<div class="col-sm-12">
				<ul class="gauge">
					<li class="temp_in" id="temp_in"> 
					<br><br><br><br><br><br><p> <span class="temp" id='inside_temp_block'>{{inside_temp}}</span><span>&deg;C</span><span class="pl">Temperatura</span></p>
					</li>
					
					<li class="temp_out" id="temp_out">
					<p> <span class="temp" id='outside_temp_block'>{{outside_temp}}</span><span>%</span><span class="pl">Wilgotność</span></p>
					</li>
					
					<li class="temp_out1" id="temp_out1">
					<br><div class="test"><a href="/"><img src="/static/alarm.png" alt="Włącz alarm przeciwpożarowy" width="100px" height="100px"></a><br>Włącz alarm przeciwpożarowy</div>
					</li>
        
					<div class="row content content-chart">
					<div class="col-sm-12"></div>
					<div class="ct-chart vertical-align" id="myChart"></div>
					</div>
				</ul>
			</div>
		</div>
	</div>		
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js"></script>
<script>
    $(document).ready(function () {
        const config = {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: "MQ-2 sensor Raspberry Pi",
                    backgroundColor: 'rgb(49, 130, 237)',
                    borderColor: 'rgb(49, 130, 237)',
                    data: [],
                    fill: false,
                }],
            },
            options: {
                responsive: true,
                title: {
                    display: true,
					fontFamily: "Microsoft YaHei",
					fontStyle: 'normal',
					fontSize: 16,
                    text: 'Pomiar stężenia gazu propan butan'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
				legend: {
					display: false
				},
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
							fontFamily: "Microsoft YaHei",
							fontStyle: 'normal'
                        }
                    }],
                    yAxes: [{
                        display: true,
						ticks: {
                            beginAtZero: true,
							fontFamily: "Microsoft YaHei",
							fontStyle: 'normal',
                            steps: 10,
                            stepValue: 5,
                            max: 100
                        },
                        scaleLabel: {
                            display: true,
							fontFamily: "Microsoft YaHei",
							fontStyle: 'normal',
                            labelString: '% ppm'
                        }
                    }]
                }
            }
        };

        const context = document.getElementById('gas').getContext('2d');
		
        const lineChart = new Chart(context, config);

        const source = new EventSource("/chart-gas");

        source.onmessage = function (event) {
            const data = JSON.parse(event.data);
            if (config.data.labels.length === 20) {
                config.data.labels.shift();
                config.data.datasets[0].data.shift();
            }
            config.data.labels.push(data.time);
            config.data.datasets[0].data.push(data.value);
            lineChart.update();
			
        }
    });
</script>
<script>
    $(document).ready(function () {
        const config = {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: "MQ-2 sensor Raspberry Pi",
                    backgroundColor: 'rgb(211, 50, 50)',
                    borderColor: 'rgb(211, 50, 50)',
                    data: [],
                    fill: false,
                }],
            },
            options: {
                responsive: true,
                title: {
                    display: true,
					fontFamily: "Microsoft YaHei",
					fontStyle: 'normal',
					fontSize: 16,
                    text: 'Pomiar stężenia dwutlenku węgla'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
				legend: {
					display: false
				},
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
							fontFamily: "Microsoft YaHei",
							fontStyle: 'normal'
                        }
                    }],
                    yAxes: [{
                        display: true,
						ticks: {
                            beginAtZero: true,
							fontFamily: "Microsoft YaHei",
							fontStyle: 'normal',
                            steps: 10,
                            stepValue: 5,
                            max: 100
                        },
                        scaleLabel: {
                            display: true,
							fontFamily: "Microsoft YaHei",
							fontStyle: 'normal',
                            labelString: '% ppm'
                        }
                    }]
                }
            }
        };

        const context = document.getElementById('co2').getContext('2d');

        const lineChart = new Chart(context, config);

        const source = new EventSource("/chart-co2");

        source.onmessage = function (event) {
            const data = JSON.parse(event.data);
            if (config.data.labels.length === 20) {
                config.data.labels.shift();
                config.data.datasets[0].data.shift();
            }
            config.data.labels.push(data.time);
            config.data.datasets[0].data.push(data.value);
            lineChart.update();
			
        }
    });
</script>
<script>
    $(document).ready(function () {
        const config = {
            type: 'line',
            data: {
                labels: [],
                datasets: [{
                    label: "MQ-2 sensor Raspberry Pi",
                    backgroundColor: 'rgb(22, 22, 22)',
                    borderColor: 'rgb(22, 22, 22)',
                    data: [],
                    fill: false,
                }],
            },
            options: {
                responsive: true,
                title: {
                    display: true,
					fontFamily: "Microsoft YaHei",
					fontStyle: 'normal',
					fontSize: 16,
                    text: 'Pomiar stężenia dymu'
                },
                tooltips: {
                    mode: 'index',
                    intersect: false,
                },
                hover: {
                    mode: 'nearest',
                    intersect: true
                },
				legend: {
					display: false
				},
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
							fontFamily: "Microsoft YaHei",
							fontStyle: 'normal'
                        }
                    }],
                    yAxes: [{
                        display: true,
						ticks: {
                            beginAtZero: true,
							fontFamily: "Microsoft YaHei",
							fontStyle: 'normal',
                            steps: 10,
                            stepValue: 5,
                            max: 100
                        },
                        scaleLabel: {
                            display: true,
							fontFamily: "Microsoft YaHei",
							fontStyle: 'normal',
                            labelString: '% ppm'
                        }
                    }]
                }
            }
        };

        const context = document.getElementById('smoke').getContext('2d');

        const lineChart = new Chart(context, config);

        const source = new EventSource("/chart-smoke");

        source.onmessage = function (event) {
            const data = JSON.parse(event.data);
            if (config.data.labels.length === 20) {
                config.data.labels.shift();
                config.data.datasets[0].data.shift();
            }
            config.data.labels.push(data.time);
            config.data.datasets[0].data.push(data.value);
            lineChart.update();
			
        }
    });
</script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script defer src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js'></script>
<script defer src='http://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js'></script>
<script  src="/static/index.js"></script>
</body>
</html>